@font-face {
  font-family: "roboto";
  src: url("../fonts/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: "patrick";
  src: url("../fonts/PatrickHand-Regular.ttf");
}

@font-face {
  font-family: "kiwi";
  src: url("../fonts/KiwiMaru-Regular.ttf");
}

html {
  font-size: 62.5%;
}

:root {
  --clr-primary: rgb(94, 4, 112);
  --clr-primary-light: rgb(158, 7, 189);
  --clr-primary-dark: rgb(76, 3, 90);

  --clr-accent: #29de92;
  --clr-accent-light: #3bf1a6;
  --clr-accent-dark: #069c5e;

  --clr-gray100: #f9fbff;
  --clr-gray200: #e0e1e4;
  --clr-gray300: #d7dadd;
  --clr-gray400: #cac8c8;
  --clr-gray500: #c4c5c7;
  --clr-gray600: #909294;
  --clr-gray700: #585858;
  --clr-gray800: #464545;
  --clr-gray900: #363535;

  --clr-error: #c62828;
  --clr-success: #388e3c;

  --bg-success: #c8e6c9;
  --bg-error: #ffcdd2;

  --font-primary-1: "roboto", sans-serif;
  --font-primary-2: "patrick", sans-serif;
  --font-primary-3: "kiwi", sans-serif;

  --radius: 0.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary-3);
  text-transform: uppercase;
  color: var(--clr-primary);
  letter-spacing: 0.1rem;
  line-height: 2;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.9rem;
}

p {
  line-height: 2;
  color: var(--clr-gray900);
}

a {
  display: inline-block;
  text-decoration: none;
}

i {
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
}

button {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: var(--clr-gray100);
  background-color: var(--clr-accent);
  border: none;
  outline: none;
  border-radius: var(--radius);
  cursor: pointer;
  font: inherit;
}

.cta {
  padding: 0.9rem 1.8rem;
  outline: none;
  color: var(--clr-gray100);
  background-color: var(--clr-accent);

  text-align: center;
  margin: 1rem 0;
  transition: all 300ms ease;
  border-radius: var(--radius);
}

.cta:hover {
  background-color: var(--clr-accent-dark);
}

.text-center {
  text-align: center;
}

.clr-primary {
  color: var(--clr-primary);
}
.clr-accent {
  color: var(--clr-accent);
}
.bg-primary {
  background-color: var(--clr-primary);
}
.bg-accent {
  background-color: var(--clr-accent);
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
}

body {
  height: 100vh;
  font-family: var(--font-primary-1);
  font-size: 1.6rem;
}

section {
  width: 90%;
  min-height: 100vh;
  padding: 3rem;
  margin: 2rem auto;
  display: flex;
}

/* NAVIGATION */
.nav {
  min-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: url("../images/Colored-Patterns.svg") no-repeat center
    center/contain;
  box-shadow: 0 0 10px var(--clr-gray300);
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.nav-list .list-item {
  padding: 0.9rem 1.7rem;
  position: relative;
}

.nav-list .list-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0%;
  height: 0.3rem;
  width: 0;
  background-color: var(--clr-accent);
  border-radius: var(--radius);
  transition: all 400ms ease-in;
}
.nav-list .list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  height: 0.3rem;
  width: 0;
  background-color: var(--clr-accent);
  border-radius: var(--radius);
  transition: all 400ms ease-in;
}
.nav-list .list-item:hover::after,
.nav-list .list-item:hover::before {
  width: 100%;
}

.nav-list .list-item a {
  color: var(--clr-gray700);
  font-weight: 500;
}

/* FOOTER */
.footer {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: var(--clr-accent);
  color: var(--clr-gray100);
}

.footer i {
  color: var(--clr-primary);
  margin: 0 1rem;
}
/* FOOTER */

/* SUCCESS AND ERROR  NOTIFICATION */
.message {
  min-width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  position: fixed;
  top: 5%;
  left: 50%;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -100%);
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.message-show {
  opacity: 1;
  transform: translate(-50%, 0);
  visibility: visible;
}

.close-message {
  margin-left: auto;
  font-size: 2rem;
  transition: transform 400ms ease-in-out;
  cursor: pointer;
  padding: 0.5rem;
}

.close-message:hover {
  transform: rotate(90deg);
}

.success-message {
  background-color: var(--bg-success);
  color: var(--clr-success);
}
.error-message {
  background-color: var(--bg-error);
  color: var(--clr-error);
}

/* SUCCESS AND ERROR  NOTIFICATION */

/* PRELOADER */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.preloader img {
  width: 10rem;
  height: 10rem;
}

.preloader-close {
  visibility: hidden;
  opacity: 0;
}
/* PRELOADER */

@media (max-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }

  .nav {
    flex-direction: column;
  }

  p {
    line-height: 1.5;
  }

  .nav-open {
    visibility: hidden;
    height: 0;
  }

  section {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }

  .message {
    min-width: 70%;
  }
}
